@import '@fontsource/fira-mono';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
	--font-body: Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	--font-mono: 'Fira Mono', monospace;
	--font-inter: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
	Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	--color-text: rgb(255,255,255);
	--color-backgorund: rgba(0,0,0,1);
	font-family: var(--font-inter);
	color: var(--color-text);
	background-color: var(--color-backgorund);
}

body {
	min-height: 100vh;
	margin: 0;
	background-attachment: fixed;
}